{% extends 'index.html' %}
{% block script %}
    <script>
    document.addEventListener("DOMContentLoaded", ()=> {
        let placeForName = document.querySelector('#traveler')
    let addPersonButton = document.querySelector('.add-person-button')
    addPersonButton.addEventListener('click', ()=>{
        let newname = placeForName.cloneNode(true)
        newname.value=''
        let newline = document.createElement('br')
        placeForName.parentElement.insertBefore(newname, document.querySelector('#inserbeforeit'))
        placeForName.parentElement.insertBefore(newline, document.querySelector('#inserbeforeit'))
    })
    })
    </script>
{% endblock %}
{% block content %}
        <div class="border border-dark">
            <p class="text-center">
                {{ data.departure_date }}
                {{ data.departure_time }}
                {{ data.depart_from_code }}
                {{ data.depart_from_city}}
                {{ data.arrival_date}}
                {{ data.arrival_time }}
                {{ data.arrival_code }}
                {{ data.arrival_city }}
                {{ data.total_trip_time}}
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-10">
                    </div>
                </div>
            </div>

        {% if data.legs == 1 %}
            <div class="container">
                <div class="row">
                    <div class="col-1">
                        {{ data.details.1.airline }}<BR>
                        {{ data.details.1.flight_number }}
                    </div>
                    <div class="col-3">
                        {{ data.details.1.leg_departure_date }}
                        {{ data.details.1.leg_departure_time }}<br>
                        {{ data.details.1.depart_from_code }}
                        {{ data.details.1.depart_from_city }}
                    </div>
                    <div class="col-3">
                        <span>&#10230;</span><BR>
                        {{ data.details.1.flight_time }}
                    </div>
                    <div class="col-3">
                        {{ data.details.1.leg_arrival_date }}
                        {{ data.details.1.leg_arrival_time }}<BR>
                        {{ data.details.1.arrival_code }}
                        {{ data.details.1.arrival_city }}
                    </div>
                    <div class="col-1">
                    </div>
                </div>
            </div>
        {% endif %}

        {% if data.legs == 2 %}
            {% for smth in data.details %}
            <div class="container">
                <div class="row">
                    <div class="col-1">
                        {{ smth.1.airline }}<BR>
                        {{ smth.1.flight_number }}
                    </div>
                    <div class="col-3">
                        {{ smth.1.leg_departure_date }}
                        {{ smth.1.leg_departure_time }}<br>
                        {{ smth.1.depart_from_code }}
                        {{ smth.1.depart_from_city }}
                    </div>
                    <div class="col-3">
                        <span>&#10230;</span><BR>
                        {{ smth.1.flight_time }}
                    </div>
                    <div class="col-3">
                        {{ smth.1.leg_arrival_date }}
                        {{ smth.1.leg_arrival_time }}<BR>
                        {{ smth.1.arrival_code }}
                        {{ smth.1.arrival_city }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        {{ smth.2.airline }}<BR>
                        {{ smth.2.flight_number }}
                    </div>
                    <div class="col-3">
                        {{ smth.2.leg_departure_date }}
                        {{ smth.2.leg_departure_time }}<br>
                        {{ smth.2.depart_from_code }}
                        {{ smth.2.depart_from_city }}
                    </div>
                    <div class="col-3">
                        {{ smth.2.flight_time }}
                    </div>
                    <div class="col-3">
                        {{ smth.2.leg_arrival_date }}
                        {{ smth.2.leg_arrival_time }}<BR>
                        {{ smth.2.arrival_code }}
                        {{ smth.2.arrival_city }}
                    </div>
                    <div class="col-1">
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        {% if data.legs == 3 %}
            {% for smth in data.details %}
            <div class="container">
                <div class="row">
                    <div class="col-1">
                        {{ smth.1.airline }}<BR>
                        {{ smth.1.flight_number }}
                    </div>
                    <div class="col-3">
                        {{ smth.1.leg_departure_date }}
                        {{ smth.1.leg_departure_time }}<br>
                        {{ smth.1.depart_from_code }}
                        {{ smth.1.depart_from_city }}
                    </div>
                    <div class="col-3">
                        <span>&#10230;</span><BR>
                        {{ smth.1.flight_time }}
                    </div>
                    <div class="col-3">
                        {{ smth.1.leg_arrival_date }}
                        {{ smth.1.leg_arrival_time }}<BR>
                        {{ smth.1.arrival_code }}
                        {{ smth.1.arrival_city }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        {{ smth.2.airline }}<BR>
                        {{ smth.2.flight_number }}
                    </div>
                    <div class="col-3">
                        {{ smth.2.leg_departure_date }}
                        {{ smth.2.leg_departure_time }}<br>
                        {{ smth.2.depart_from_code }}
                        {{ smth.2.depart_from_city }}
                    </div>
                    <div class="col-3">
                        {{ smth.2.flight_time }}
                    </div>
                    <div class="col-3">
                        {{ smth.2.leg_arrival_date }}
                        {{ smth.2.leg_arrival_time }}<BR>
                        {{ smth.2.arrival_code }}
                        {{ smth.2.arrival_city }}
                    </div>
                    <div class="col-1">
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        {{ smth.3.airline }}<BR>
                        {{ smth.3.flight_number }}
                    </div>
                    <div class="col-3">
                        {{ smth.3.leg_departure_date }}
                        {{ smth.3.leg_departure_time }}<br>
                        {{ smth.3.depart_from_code }}
                        {{ smth.3.depart_from_city }}
                    </div>
                    <div class="col-3">
                        {{ smth.3.flight_time }}
                    </div>
                    <div class="col-3">
                        {{ smth.3.leg_arrival_date }}
                        {{ smth.3.leg_arrival_time }}<BR>
                        {{ smth.3.arrival_code }}
                        {{ smth.3.arrival_city }}
                    </div>
                    <div class="col-1">
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

    </div><br>

    <form method="post">
    {% csrf_token %}
    <input type="text" name="nameoftraveler" placeholder="First and last name" id="traveler" class="m-1">
    <button type="button" class="btn btn-primary btn-sm add-person-button">Dodaj kolejną osobę</button>
    <br>
    <input type="hidden" value="{{ data }}" name="flightdetails" id="inserbeforeit">
    <input type="submit" value="Wygeneruj bilet" class="btn btn-primary">
    </form>

{% endblock %}